:root {
  --accent: #353535;
  --gray: #777;
  --rust: #895433;
}

@font-face {
  font-family: cornerstone;
  src: url(../fonts/Cornerstone.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--accent);
}

nav {
  border-bottom: 1px solid #777;
}

.navbar-brand {
  margin-right: 0;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #00000024;
}

#masthead {
  background-image: url("../images/masthead-bw.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 90vh;
  text-align: center;
}

#mast-sub-banner {
  color: #353535 !important;
  display: inline-block;
  padding: 1rem;
  background-color: var(--light);
  border-radius: 0.25rem;
}

.custom-shadow {
  -webkit-box-shadow: 4px 4px var(--accent);
  -moz-box-shadow: 4px 4px var(--accent);
  box-shadow: 4px 4px var(--accent);
}

.card-footers {
  padding: 0 1.25rem;
}

a {
  text-decoration: none;
  color: var(--rust);
}

a:hover {
  color: var(--accent);
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #masthead {
    background-attachment: scroll;
  }
}
